<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="goodbye-container">
        <h1>Thank You</h1>
        <h3>Thank you for your time. Since you did not consent to participate in the study, your information will not be kept or analysed.</h3>
        <p>If you have any questions or concerns, please contact Jenni Parry at jenni.parry@ucdconnect.ie.</p>
    </div>
</body>
</html>
