<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Header section -->
    <div class="welcome-header-container">
        <h1 class="welcome-header">Thank You!</h1>
    </div>


    <div class="thank-you-container">

        <p>Your feedback has been submitted successfully.</p>
        <a href="{{ url_for('welcome') }}" class="pink-button">Back to Home</a>
    </div>
</body>
</html>
